<button class="nav" ng-click="$ctrl.goTo('home')">
    <img class="logo-nav" src="images/logo_hori.svg">
</button>

<div class="header-menu">
  <button class="nav" ng-click="$ctrl.goTo('vision')">
      <h3>Vision</h3>
  </button>

  <button class="nav" ng-click="$ctrl.goTo('proposition')">
      <h3>Proposition</h3>
  </button>

  <button class="nav" ng-click="$ctrl.goTo('proposition')">
      <h3>Application</h3>
  </button>

  <button class="nav" ng-click="$ctrl.goTo('proposition')">
      <h3>F.A.Q.</h3>
  </button>

  <button class="nav" ng-click="$ctrl.goTo('contact')">
      <h3>Contact</h3>
  </button>
</div>
<div class="mobile-menu">
  <button class="nav" ng-click="$ctrl.goTo('vision')">
      <h3>menu</h3>
  </button>
</div>
